:root {
    --background: #B85639;
    --border: #75331D;
    --border2: #D2907A
}

/* ABERTO 0 */
/*button{
    background-color: var(--background);
    border: 8px solid var(--border);
}*/

/* ABERTO 1-8 = Botar o número de bombas no botão
button{
    padding: 0;
    padding-bottom: 1%;
    background-color: var(--background);
    border: 1px solid var(--border);
    color: white;
    font-family: "Silkscreen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* FECHADO
button{
    padding: 0;
    background-color: var(--background);
    border-top: 2.5px solid var(--border2);
    border-left: 2.5px solid var(--border2);
    border-bottom: 2.5px solid var(--border);
    border-right: 2.5px solid var(--border);
}*/

/* BANDEIRA = A imagem da bandeira tem que ter metade do tamanho do botão
button{
    padding: 0;
    background-color: var(--background);
    border-top: 2px solid var(--border2);
    border-left: 2px solid var(--border2);
    border-bottom: 2px solid var(--border);
    border-right: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* BOMBA_0 = A imagem da bomba tem que ser +- 85% do tamanho do botão
button {
    padding: 0;
    background-color: red;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* BOMBA_1 = = A imagem da bomba tem que ser +- 85% do tamanho do botão
button{
    background-color: var(--background);
    border: 1px solid var(--border);
    padding: 0;
}*/ 

#img {
    background-image: url("/bomba_1.jpg");
    background-size: contain;
    border: none;
}