#div-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#div-opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-dificuldade{
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 5px;
    font-size: 17px;
}

button{
    cursor: pointer;
    font-family: "Silkscreen", sans-serif;
}
button:disabled{
    cursor: auto;
}

#button-start{

    border: solid 0.5vh;
    border-radius: 10vh;
    height: 6vh;
    width: 60vh;
    font-size: 4vh;
    font-weight: bold;
}

.top-div{
    width: 100%;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: space-between;
}

.bottom-div{
    width: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: end;
    align-items: center;
}

#logo-div{
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
}

#name-div{
    font-size: 8vh;
    letter-spacing: 1.5vh;
    text-shadow: 
        -0.8vh -0.8vh 0 #000,  
         0.8vh -0.8vh 0 #000,
        -0.8vh  0.8vh 0 #000,
         0.8vh  0.8vh 0 #000;
}

hr{
    width: 60vh;
    height: 1vh;
    margin: 3vh;
    background-color: white;
    border: solid 0.5vh black;
    border-radius: 10vh;
}

#slogan-div{
    font-size: 3vh;
    letter-spacing: 1vh;
    text-shadow: 
        -0.5vh -0.5vh 0 #000,  
         0.5vh -0.5vh 0 #000,
        -0.5vh  0.5vh 0 #000,
         0.5vh  0.5vh 0 #000;
}

.signature{
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-size: 2.5vh;
    letter-spacing: 0.5vh;
    text-shadow: 
        -0.5vh -0.5vh 0 #000,  
         0.5vh -0.5vh 0 #000,
        -0.5vh  0.5vh 0 #000,
         0.5vh  0.5vh 0 #000;

    margin: 2vh;
}

.signature-text{
    margin: 1vh;
}

.github-button{
    height: 7vh;
    width: 7vh;
    border-radius: 100vh;
    margin-right: 2vh;

    background-image: url('/assets/logo/github.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 0.3vh white;
}